$small: 300px;
$medium: 900px;

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@700&family=Rubik:wght@400;500&family=Ubuntu:wght@500&display=swap");

* {
    user-select: none;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

html,
body {
    background-color: #1b1e24;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    opacity: 100%;
    transition: 1s opacity;
    overflow: hidden;
    z-index: -999999;
}

body {
    &.starting {
        opacity: 0%;
    }
}

.pickStarterWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pickStarter {
    font-size: 7vmin;
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .starterSubdiv {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .starter {
        margin-top: 6%;
        img {
            height: 30vmin;
            max-height: 20vh;
        }
    }

    .name {
        margin-bottom: 10px;
    }

    .starterButton {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 1vmin 3vmin;
        border-radius: 100px;
        margin: 2vmin;
    }
}

.pokemon {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 100%;

    .imageAndColors {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }

    .pokeballImage {
        position: absolute;
        left: 25px;
        top: 25px;
        opacity: 0%;
        z-index: 19900;
        width: 70px;
        height: 70px;
    }

    .progress {
        width: 110%;
        height: 110%;
        top: -5%;
        left: -5%;
        border-radius: 100%;
        opacity: 100%;

        z-index: -1;
        position: absolute;
        transition: opacity 1s ease-out;
    }

    .pokemonImage {
        position: relative;
        left: 10px;
        top: 10px;
        .image {
            width: 100px;
            height: 100px;
        }
    }

    .stars {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        z-index: 10;
    }

    &.closed {
        .extraInfo,
        .progress,
        .imageAndColors,
        .topDiv,
        .typesDiv,
        .pokemonImage {
            opacity: 0%;
        }

        .pokeballImage {
            opacity: 100%;
        }
    }

    .extraInfo {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        overflow: hidden;
        background-color: rgb(55, 55, 61);
        z-index: -2;
        border: 5px solid white;
        border-radius: 0 20px 20px 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        gap: 4px;
        box-sizing: border-box;

        width: 0;
        transition: width 1s ease-in;

        .name {
            padding-top: 3px;
            padding-left: 67px;
            color: white;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
            font-size: 20px;
            color: rgba(255, 255, 255);
        }

        .number {
            padding-top: 3px;
            padding-right: 6px;
            font-size: 20px;
            color: #ffffff;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        }

        .topDiv {
            top: 4px;
            left: 10px;
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            overflow: hidden;
        }

        .typesDiv {
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-right: 10px;
            // justify-content: flex-start;
            // overflow: hidden;
            // margin-right: 5px;

            .typeImage {
                width: 24px;
            }

            .type {
                width: 90%;
                display: flex;
                flex-direction: row-reverse;
                gap: 8px;
                // justify-content: space-between;
                background-color: rgba(255, 255, 255, 0.356);
                border-radius: 10px;
                padding: 0 4px;
                height: 30px;
                margin-bottom: 4px;
                // align-items: center;
                // width: 100%;
                // left: -10px;
                // margin-bottom: 4px;
            }
        }
    }

    &.showExtraInfo .extraInfo {
        width: 250px;
        transition: width 1s ease-out;
    }

    &.ghost {
        opacity: 0.9 !important;
    }
}

// .ball {
//     width: 100px;
//     height: 100px;
//     border-radius: 100px;
//     transition-delay: 0.2s;
//     .botDiv {
//         width: 100;
//     }
// }

// .ball .topDiv,
// .ball .typesDiv {
//     width: 0;
// }

// .ball .pokemonName,
// .ball .typesDiv .type {
//     background: none !important;
// }

#path_panel {
    position: fixed;
    top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    gap: 10px;
    pointer-events: none;

    #title {
        height: 25px;
        width: 300px;
        color: white;
        text-align: center;
        font-size: 136%;
        text-shadow: 1px 1px 2px black;
    }

    #path {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        flex-wrap: wrap-reverse;

        .wild {
            position: relative;
            // width: 50px;
            // height: 50px;
            display: none;
            border-radius: 20px;
            margin-top: 20px;

            .portrait & {
                margin-top: 15px;
                height: 30px;
            }

            .pokeball {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 50px;
                height: 50px;
                .portrait & {
                    width: 32px;
                    height: 32px;
                }
            }

            .type_images {
                display: none;
            }

            .progress_wrapper {
                display: none;
            }

            &:nth-child(-n + 3) {
                display: flex;
                // flex-basis: calc(33% - 33px);
                width: 200px;
                border: 2px solid rgba(0, 0, 0, 0.5);
                margin-left: 15px;
                margin-right: 15px;

                .portrait & {
                    width: 30vw;
                }

                .pokeball {
                    left: -10px;
                    top: -10px;
                    width: 70px;
                    height: 70px;
                    .portrait & {
                        left: -5px;
                        top: -5px;
                        width: 40px;
                        height: 40px;
                    }
                }

                .type_images {
                    display: flex;
                    flex-direction: row-reverse;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    img {
                        height: 45px;
                        margin-right: 5px;
                        .portrait & {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }

                .progress_wrapper {
                    position: absolute;
                    display: flex;
                    top: 0;
                    left: 40px;
                    width: calc(100% - 40px);
                    height: 100%;
                    z-index: -10;
                    overflow: hidden;
                    border-radius: 0 18px 18px 0;
                    background-color: rgba(255, 255, 255, 0.164);
                    .portrait & {
                        width: calc(100% - 20px);
                        left: 20px;
                    }
                }

                .progress {
                    height: 100%;
                    opacity: 50%;
                    border-right: 2px solid rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}

.break {
    flex-basis: 100%;
    height: 20px;
}

#possible_paths_panel {
    color: white;
    text-align: center;
    // font-size: 136%;
    text-shadow: 1px 1px 2px black;
    display: flex;
    flex-direction: row;
    gap: 20px;

    .portrait & {
        flex-direction: column;
        justify-content: center;
    }

    .possible_path {
        pointer-events: all;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: rgba(22, 22, 23, 0.9);
        padding: 10px;
        border-radius: 20px;
        border: 2px solid transparent;
        cursor: pointer;

        &:hover {
            border: 2px solid rgba(255, 255, 255, 0.219);
        }

        .parts {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        .percent {
            display: flex;
            flex-direction: column;
            img {
                width: 64px;
                height: 64px;
            }
        }
    }
}

#manaDisplay {
    width: fit-content;
    border: 4px solid white;
    padding: 4px;
    border-radius: 10px;
    font-size: 32px;
    .button {
        font-size: 20px;
        color: white;
        padding: 5px 12px;
        border-radius: 10px;
        margin: 4px;
        width: 100px;
        text-align: center;
        &.off {
            opacity: 33%;
        }
    }
}

.manaDisplay {
    margin-right: 10px;
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.705);
    color: black;
    border-radius: 100px;
    margin: 4px;
    padding-left: 4px;
}

.manaDisplayLine {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.anim_manaGain {
    width: 64px;
    position: absolute;
    animation: 2s ease-out 0s 1 anim_manaGain;
    z-index: 1000;
    pointer-events: none;
}

/* ANIMATIONS */

.smoke {
    z-index: 9999999;
    position: absolute;
    width: 240px;
    height: 240px;
    transform: translate(-60px, -60px);
    pointer-events: none;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.mana {
    width: 24px;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.anim_manaGain {
    width: 64px;
    position: absolute;
    animation: 2s ease-out 0s 1 anim_manaGain;
    z-index: 1000;
    pointer-events: none;
}

@keyframes anim_manaGain {
    0% {
        transform: translateY(0);
        animation-fill-mode: forwards;
    }

    20% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
        transform: translateY(-100px);
    }
}

.anim_tempGrow {
    animation: 1s linear 0s 1 anim_tempGrow;
}

@keyframes anim_tempGrow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

.anim_pokeballOpening {
    animation: 1s ease-out 0s 1 anim_pokeballOpening;
}

@keyframes anim_pokeballOpening {
    0% {
        /* transform: scale(1); */
        opacity: 100%;
    }

    100% {
        /* transform: scale(2); */
        opacity: 0%;
    }
}

.anim_becomingVisible {
    animation: 1s ease-out 0s 1 anim_becomingVisible;
}

@keyframes anim_becomingVisible {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

// @media (max-width: 600px) {
//     body {
//         width: 100%;
//         height: 100%;
//         overflow: hidden;
//     }

//     #possible_paths_panel {
//         // flex-direction: column;
//         font-size: 5%;
//          img {
//             width: 32px;
//         }
//     }
// }
